{% extends "obs_screen/obs_screen_base.html" %}

{% block styles %}
    <link rel="stylesheet" href="css/best-five.css">
    <link rel="stylesheet" href="css/tableAnimation.css">
    <link rel="stylesheet" href="css/rotateTableRow.css">
{% endblock %}
{% block content %}
<div class="table">
    <div id="table_b">
        <table id="tab_a">
            <tbody>
                <tr id="content-title"><td colspan="20" class="text-overflow">{{ data.competition_name }} - {{ data.title }}</td></tr>
                {% for item in data.best_five %}
                    {% if loop.index % 2 == 0 %}
                        <tr class="odd" id="row{{ loop.index }}">
                    {% else %}
                        <tr class="even" id="row{{ loop.index }}">
                    {% endif %}
                        <td class="best_player"><a>
                            {% if item.mvp == "1" %}
                            &#9733
                            {% endif %}
                        </a></td>
                        <td class="data-name"><a>{{ item.name }}</a></td>
                        <td class="data-team"><a>{{ item.team }}</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}