<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Rozgrywki</title>
</head>
<body>
    <h1>Nowe rozgrywki</h1>
    <form method="POST" action="{{ url_for('controller.add_competition') }}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}: {{ form.name() }}
        </div>
        <div>
            {{ form.schedule_link.label }}: {{ form.schedule_link() }}
        </div>
        <div>
            {{ form.table_link.label }}: {{ form.table_link() }}
        </div>
        <div>
            {{ form.strikers_link.label }}: {{ form.strikers_link() }}
        </div>
        <div>
            {{ form.assistants_link.label }}: {{ form.assistants_link() }}
        </div>
        <div>
            {{ form.canadians_link.label }}: {{ form.canadians_link() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
