<!--<input type="button"-->
<!--       onclick="loadContent('/settings-overlay-main', 'settings-overlay-content')"-->
<!--       value="Wróć"><br>-->

<!--<div>Nowy odcinek</div>-->
<!--<div>Numer ostatniego odcinka: {{ data.last_episode_id }}</div>-->
<!--<div>-->
<!--    <p>Poprzednia kolejka:</p>-->
<!--    <div><span>DATA OD: </span><span id="last-round-start-date-">{{ data.date_range[0] }}</span></div>-->
<!--    <div><span>DATA DO: </span><span id="last-round-end-date">{{ data.date_range[1] }}</span></div>-->
<!--    <p>Następna kolejka:</p>-->
<!--    <div><span>DATA OD: </span><span id="next-round-start-date">{{ data.date_range[2] }}</span></div>-->
<!--    <div><span>DATA DO: </span><span id="next-round-end-date">{{ data.date_range[3] }}</span></div>-->
<!--</div>-->
<!--<div>-->
<!--    <div><span>Ile odcinków chcesz nagrać?</span>-->
<!--         <span><input type="number" id="how-many-episodes" min="1" value="2"></span>-->
<!--         <input type="button"-->
<!--                onclick="loadContent(-->
<!--                '/new-episodes-set',-->
<!--                 'settings-overlay-content',-->
<!--                 setNewEpisodesSettings())">-->
<!--    </div>-->
<!--</div>-->